<div class="form-inline">
  <div class="form-group">
  	<%= text_field_tag 'address', '', class: 'form-control' %>
  </div>
  <%= button_tag 'Search', class: 'btn btn-success', id: 'search-button' %>
</div>
